<div class="cookiesConfirm" ng-show="vm.showCookiesConfirm">
    <p><strong>Cookies:</strong> A Milênio Móveis utiliza cookies para personalizar conteúdos e melhorar a sua experiência no site. Ao continuar navegando, você concorda com a nossa <a href="/termos/termo-de-uso-e-privacidade">Política de Privacidade</a></p>
    <md-button ng-click="vm.accept()" class="yellow-button" layout="row" layout-align="center center" aria-label="Cart">
        <span>Concordar e Fechar</span>
    </md-button>
</div>