<div layout="row" class="li-items-list flex-1">
    <div class="carousel-button" ng-click="vm.changeTab()">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div id="ListGtSm">
        <div layout="row" flex="100" ng-repeat="item in vm.items | limitTo:vm.show:vm.limit track by $index">
            <li-card-product item="item"></li-card-product>
        </div>
    </div>
    <div class="carousel-button right" ng-click="vm.changeTab(1)">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
	</div>
</div>