// li-items-list.sass
@import '../../variables.scss'

.li-items-list
	margin: auto
	overflow-y:  auto
	width: 100%

@media screen and (max-width: 1279px)
	.li-items-list
		margin-left: -16px
		width: 100vw
	