<div>
    <h4 class="text-center">
        <md-icon md-font-icon="icon-book-open"></md-icon>
        Cadastre-se e receba nossa Newsletter
    </h4>
    <div layout="row" class="no-margin-input" layout-wrap flex>
        <md-input-container flex="100" flex-gt-xs="50">
            <label>Nome:</label>
            <input required type="text" name="firstname" ng-model="vm.form.firstname"/>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <label>Sobrenome:</label>
            <input required type="text" name="lastname" ng-model="vm.form.lastname"/>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <label>E-mail:</label>
            <input type="email" name="email" ng-model="vm.form.email" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <label>Celular:</label>
            <input type="tel" inputmode="tel" x-inputmode="tel" name="phone" ng-model="vm.form.phone" ui-br-phone-number-mask mask-fix>
        </md-input-container>
    </div>
</div>