<md-dialog id="NewsletterForm" aria-label="Newsletter" flex="100" flex-gt-xs="70">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="icon-book-open"></md-icon>
                Receba nossa Newsletter
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="icon-window-close" aria-label="Fechar"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.loading"></md-progress-linear>
    <md-dialog-content>
        <newsletter-form newsletter="vm.newsletter"></newsletter-form>
    </md-dialog-content>
</md-dialog>
