<md-card class="itemPreview item-preview">
    <div ng-if="vm.stamp.seal" class="seal" ng-class="vm.stamp.style">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
        <p>{{vm.stamp.seal}}<br> OFF</p>
    </div>
    <div class="relative">
        <a ui-sref="product({productUrl: vm.item.url, productId: vm.item._id, from: vm.from})" title="{{ vm.item.name }}">
            <img ng-src="{{ vm.item.pictures[0]  || '/assets/images/no_image.jpg' }}" class="md-card-image" 
                onerror="this.src='/assets/images/no_image.jpg'" alt="{{ vm.item.name }}"
            >
        </a>
        <li-stamp item="item"></li-stamp>
    </div>
    <md-card-title>
        <md-card-title-text>
            <a ui-sref="product({productUrl: vm.item.url, productId: vm.item._id, from: vm.from})" title="{{ vm.item.name }}">
                <span class="md-headline" layout="row" layout-align="center center">{{ vm.item.name }}</span>
            </a>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p class="price" ng-show="vm.item.stock != -1">
            <span ng-class="{'line-through': vm.item.options[0].salesPrice}">{{vm.item.options[0].price | currency}}</span>
            <br/>
            <span ng-if="vm.item.options[0].salesPrice">{{vm.item.options[0].salesPrice | currency}}</span>
        </p>
        <p class="installments" ng-show="vm.item.stock != -1">
            Até {{ vm.installments.times }}x de {{ vm.installments.value | currency }}
        </p>
        <p class="installments" ng-show="vm.item.stock === 1">
            {{ vm.item.max ? vm.item.max + ' em estoque' : "Esgotado" }}
        </p>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
        <md-button ng-click="vm.addToCart()" class="md-raised btn-cart" ng-disabled="vm.disableButton()">{{ vm.disableButton() ? 'Produto Indisponível' : 'Adicionar ao carrinho' }}</md-button>
    </md-card-actions>
</md-card>