<md-dialog id="Login" aria-label="Login" flex="100" flex-gt-xs="40">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-icon="icon-lock"></md-icon>
                Alterar Senha
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-icon="icon-window-close" aria-label="Fechar"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="ctrl.changePassForm" ng-submit="ctrl.changePassForm.$valid" novalidate>
            <div layout="column">
                <md-input-container>
                    <label>Senha Atual</label>
                    <input type="password" name="oldPass" ng-model="ctrl.form.oldPass" required>
                    <div ng-messages="ctrl.changePassForm.oldPass.$error" ng-show="ctrl.changePassForm.oldPass.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Nova Senha</label>
                    <input type="password" name="newPass" ng-model="ctrl.form.newPass" minlength="8" required>
                    <div ng-messages="ctrl.changePassForm.newPass.$error" ng-show="ctrl.changePassForm.newPass.$touched" role="alert">
                        <div ng-message="minlength">
                            <span>Senha de no Mínimo 8 Caracteres.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Repita a Nova Senha</label>
                    <input type="password" name="confirmPass" compare-to="ctrl.form.newPass" ng-model="ctrl.form.newPass2" required>
                </md-input-container>
            </div>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-disabled="ctrl.changePassForm.$invalid || ctrl.changePassForm.newPass2.$error.errorCompareTo || ctrl.loading" aria-label="Atualizar Senha" ng-click="ctrl.changePassword()">Atualizar Senha</md-button>
    </md-dialog-actions>
</md-dialog>
