<div class="steps">
    <div class="step">
        <h2>Orçamento</h2>
        <div class="image-container">
            <img src="../../assets/icons/list-ul.svg" alt="Orçamento">
        </div>
    </div>
    <div class="lineProgress"></div>
    <div class="step">
        <h2>Localização</h2>
        <div class="image-container">
            <img src="../../assets/icons/map-pin.svg" alt="Localização">
        </div>
    </div>
    <div class="lineProgress"></div>
    <div class="step">
        <h2>Pagamento</h2>
        <div class="image-container">
            <img src="../../assets/icons/money-bill-wave-solid 1.svg" alt="Pagamento">
        </div>
    </div>
</div>