@import '../../variables.scss'

.li-opinions
  .opinions
    flex-wrap: wrap
    width: 100%
    justify-content: space-between

    .opinion
      width: 48%
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12)
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12)
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12)
      border-radius: 8px
      padding: 1vw
      margin: 1rem 0


      .grades
        //margin-right: 2rem
        display: grid
        grid-template-columns: repeat(auto-fit, 124px)
        grid-column-gap: 10px
        margin: 2px 0

        p
          margin: 5px 0
          font-size: 13.5px

      h1, h2
        font-size: 16px
        margin: 0

      h3
        font-size: 13px
        margin: 5px 0

    .avaliation
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 90%

.star-filled
  color: $accent

body.is-mobile
  .opinions
    align-items: center

    .opinion
      width: 90% !important
      padding: 1rem !important

      .grades
        margin: 0 !important
        grid-template-columns: repeat(auto-fit, 50%)
