<div class="li-opinions" layout="column" layout-align="center center">
    <div ng-hide="vm.opinions.length">
        <p>
            Nenhuma opinião para esse produto foi fornecida ainda
        </p>
    </div>
    <div class="opinions" layout="row" layout-xs="column" ng-show="vm.opinions.length">
        <div class="opinion" ng-repeat="opinion in vm.opinions" layout="row" layout-xs="column">
            <div class="grades" layout="column">
                <div layout="row" layout-align="space-between center" ng-repeat="grade in vm.grades">
                    <p>{{grade.title}}: </p>
                    <div layout="row">
                        <div ng-repeat="value in [].constructor(5) track by $index">
                            <md-icon ng-class="{ 'star-filled': vm.starFilled($index, opinion, grade.value) }" md-font-icon="icon-star"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avaliation">
                <div layout="row" layout-align="space-between">
                    <h1>{{opinion.title}}</h1>
                    <h2>{{opinion.createdAt | date: "dd/MM/yyyy"}}</h2>
                </div>
                <div layout="row">
                    <p>{{opinion.opinion}}</p>
                </div>
                <div layout="row">
                    <h3>{{opinion.user.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>