<div class="li-opinions">
    <div ng-hide="vm.opinions.length" class="empty">
        <h2>Nenhuma opinião para esse produto foi fornecida ainda</h2>
    </div>
    <div class="opinions" ng-show="vm.opinions.length">
        <div class="opinion" ng-repeat="opinion in vm.opinions">

            <div class="grades" layout="row">
                <div ng-repeat="grade in vm.grades">
                    <div class="description">
                        <h2>{{opinion.title}}</h2>
                        <div layout="row">
                            <div ng-repeat="value in [].constructor(5) track by $index">
                                <md-icon ng-class="{ 'star-filled': vm.starFilled($index, opinion, grade.value) }" md-font-icon="icon-star"></md-icon>
                            </div>
                        </div>
                        <p>{{opinion.opinion}}</p>
                    </div>
                </div>
            </div>

            <div class="avaliation">
                <p>{{opinion.user.name}}</p>
                <p>{{opinion.createdAt | date: "dd/MM/yyyy"}}</p>
            </div>

        </div>
    </div>
</div>