<div id="Layout" class="content" layout="column" layout-align="start center" layout-fill ng-class="layout.package">
    <!-- UI View -->
    <md-content flex layout="column" ui-view="main" class="animate-slide-up"></md-content> 
    <!-- /UI View -->
    <!-- Footer -->
    <div id="footer" layout="row" layout-align="space-around center" hide show-gt-xs>
        <div>
            <md-icon md-font-icon="icon-phone-in-talk"></md-icon>
            Atendimento: (11) 0000-0000
        </div>
        <div>
            www.mileniomoveis.com.br
        </div>
        <div>
            <md-icon md-font-icon="icon-lock"></md-icon>
            Ambiente 100% Seguro
        </div>
    </div>
    <!-- /Footer -->
</div>
