<div layout="column">
    <div id="Product" layout="column">
        <div class="" layout="row" layout-align="center center">
            <div class="" layout="column" flex="100" flex-gt-sm="90" flex-gt-lg="80">
                <h1 class="md-display-1 product-title" hide-gt-sm layout-padding layout="row" layout-align="center center">{{ vm.product.name }}</h1>
                <div layout="row" layout-wrap layout-align="space-around">
                    <li-product-carousel item="vm.product"></li-product-carousel>
                    <div flex="100" flex-gt-sm="55" layout-padding class="pTop0">
                        <li-product-details item="vm.product" breadcumbs="vm.breadcumbs"></li-product-details>
                        <div id="Tabs" layout="column" flex="100">
                            <md-tabs md-border-bottom md-autoselect>
                                <md-tab ng-repeat="tab in vm.tabDescriptions" label="{{tab.title}}">
                                    <md-tab-body>
                                        <div ng-bind-html="tab.content"></div>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.product.related.length">
                    <milenio-title title-text="'Produtos Relacionados'" description=""></milenio-title>
                    <div id="Relateds" layout="column" layout-gt-xs="row" layout-align="space-between center">
                        <li-items-list items="vm.relatedProducts" row-size="5"></li-items-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ButtonCartMobile" class="md-whitefram-8dp" layout="row" layout-align="center center" hide-gt-sm ng-hide="vm.product.stock == -1">
        <md-button id="ButtonCart" class="md-raised" ng-click="vm.addToCart()" aria-label="Adicionar ao Carrinho">{{(vm.checkoutItem) ? "ATUALIZAR PRODUTO" : "ADICIONAR AO CARRINHO"}}</md-button>
    </div>
</div>