<div class="li-cart-items">
    <table cellspacing="0" hide-xs>
        <tr>
            <th colspan="2">Produto</th>
            <th>Quant.</th>
            <th>Valor Unit.</th>
            <th>Valor Total</th>
        </tr>
        <tr class="item" ng-repeat="item in vm.items track by $index">
            <td>
                <img ng-src="{{item.picture || '/assets/images/no_image.jpg'}}" alt="{{item.name}}">
            </td>
            <td class="info">
                <h1>{{item.name}}</h1>
                <div layout="row" ng-show="item.options.name != item.name">
                    <p class="sub-option">
                        <span>Opção:</span> {{ item.options.name }}
                    </p>
                </div>
                <div layout="row" ng-repeat="customization in item.customizations">
                    <p class="sub-option">
                        <span>{{customization.type}}:</span> {{customization.option.name}}
                    </p>
                </div>
            </td>
            <td>
                <li-counter item="item" refresh-cart="vm.refreshCart" applydiscount="vm.applyDiscount"></li-counter>
            </td>
            <td class="values">{{item.options.salesPrice || item.options.price | currency}}</td>
            <td class="values" ng-if="item.discount">
                <s>{{item.total | currency}}</s>
                <br>
                {{item.totalDiscount | currency}}
            </td>
            <td class="values" ng-if="!item.discount">{{item.total | currency}}</td>
        </tr>
    </table>
    <div class="items" hide-gt-xs>
        <div class="item" ng-repeat="item in vm.items track by $index">
            <div layout="row">
                <img ng-src="{{item.picture || '/assets/images/no_image.jpg'}}" alt="{{item.name}}">
                <div class="info">
                    <h1>{{item.name}}</h1>
                    <div layout="row" ng-show="item.options.name != item.name">
                        <p class="sub-option">
                            <span>Opção:</span> {{ item.options.name }}
                        </p>
                    </div>
                    <div layout="row" ng-repeat="customization in item.customizations">
                        <p class="sub-option">
                            <span>{{customization.type}}:</span> {{customization.option.name}}
                        </p>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="space-between center" class="last-row">
                <li-counter item="item" refresh-cart="vm.refreshCart" applydiscount="vm.applyDiscount"></li-counter>
                <h3 class="values" ng-if="item.discount">
                    <s>{{item.total | currency}}</s>
                    <br>
                    {{item.totalDiscount | currency}}
                </h3>
                <h3 class="values" ng-if="!item.discount" >{{item.total | currency}}</h3>
            </div>
            <md-divider></md-divider>
        </div>
    </div>
</div>