<md-table-container>
    <table md-table md-progress="vm.promise" ng-model="vm.plans">
        <thead md-head>
            <tr md-row>
                <th md-column><span>Nome</span></th>
                <th md-column><span>Valor</span></th>
                <th md-column><span>Permissões</span></th>
                <th md-column><span>Ações</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="plan" md-auto-select="true" ng-repeat="plan in vm.plans track by $index">
                <td md-cell>{{ plan.name }}</td>
                <td md-cell>{{ plan.price | currency: "R$ " }}</td>
                <td md-cell><strong><span ng-repeat="permission in plan.permissions">{{permission}}, </span><strong></td>
                <td md-cell>
                    <md-button ng-click="vm.edit($event, plan)" md-class="md-icon-button" aria-label="Editar">
                        <md-icon md-font-icon="icon-pencil" md-menu-align-target></md-icon>
                        <md-tooltip><span>Editar</span></md-tooltip>
                    </md-button>            
                    <md-button ng-click="vm.remove($event, plan)" md-class="md-icon-button" aria-label="Excluir">
                        <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                        <md-tooltip><span>Excluir</span></md-tooltip>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>