// li-product-details.sass
@import '../../variables.scss'

.breadcumbs
    display: flex
    flex-wrap: wrap

    a
        text-decoration: none
        color: $primary
    
    md-icon[md-font-icon], i 
        width: 1vw
        color: $accent
    
    a:hover
        text-decoration: underline

.code
    h2
        font-size: 16px
        color: $accent
        margin: 0

.stock
    h2
        font-size: 14px
        color: $primary
        margin: 0

#btnAddCartMobile
    background: $accent !important

body.is-mobile
    .breadcumbs
        md-icon[md-font-icon], i 
            width: 3vw