<md-dialog aria-label="Mango (Fruit)" flex="66">
    <form name="formAdd" ng-submit="formAdd.$valid && vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-hide="vm.edit">Adicionar Cliente</h2>
                <h2 ng-show="vm.edit">Editar Cliente</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-icon="icon-window-close" aria-label="fechar janela"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="vm.progressLoading"></md-progress-linear>
        <md-dialog-content style="height: 800px;">
            <div class="md-dialog-content" layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-xs="30">
                    <label>CEP</label>
                    <input type="text" name="zip" ng-model="vm.form.zip" required ui-br-cep-mask ng-keyup="vm.getAdress()" tabindex="11">
                    <div ng-messages="formAdd.zip.$error" ng-show="formAdd.zip.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                        <div ng-message="cep">
                            <span>CEP inválido.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Cidade</label>
                    <input type="text" name="city" ng-model="vm.form.city" required readonly="">
                    <div ng-messages="formAdd.city.$error" ng-show="formAdd.city.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="20">
                    <label>Estado</label>
                    <input type="text" name="state" ng-model="vm.form.state" required readonly="">
                    <div ng-messages="formAdd.state.$error" ng-show="formAdd.state.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="40">
                    <label>Endereço</label>
                    <input type="text" name="address" ng-model="vm.form.address" required tabindex="12">
                    <div ng-messages="formAdd.address.$error" ng-show="formAdd.address.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="10">
                    <label>Número</label>
                    <input type="text" name="number" ng-model="vm.form.number" required tabindex="13">
                    <div ng-messages="formAdd.number.$error" ng-show="formAdd.number.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="20">
                    <label>Complemento</label>
                    <input type="text" name="complement" ng-model="vm.form.complement" tabindex="14">
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="30">
                    <label>Bairro</label>
                    <input type="text" name="district" ng-model="vm.form.district" required tabindex="15">
                    <div ng-messages="formAdd.district.$error" ng-show="formAdd.district.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>                                      
            </div>                                                               
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()" aria-label="Cancelar" ng-disabled="vm.needSave">
                Cancelar
            </md-button>
            <md-button class="md-raised md-accent" type="submit" ng-disabled="formAdd.$invalid || vm.progressLoading" aria-label="Adicionar">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>