<md-dialog class="small-dialog" aria-label="Mango (Fruit)" flex="66">
    <form name="formAdd" ng-submit="formAdd.$valid && vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-hide="vm.edit">Adicionar Cliente</h2>
                <h2 ng-show="vm.edit">Editar Cliente</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-icon="icon-window-close" aria-label="fechar janela"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="vm.progressLoading"></md-progress-linear>
        <md-dialog-content style="height: 800px;">
            <div class="md-dialog-content" layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Email *</label>
                    <input name="email" type="email" ng-model="vm.form.email" required>
                    <div ng-messages="formAdd.email.$error" ng-show="formAdd.email.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>CPF/CNPJ *</label>
                    <input type="text" name="document" ng-model="vm.form.document" ui-br-cpfcnpj-mask required>
                    <div ng-messages="formAdd.document.$error" ng-show="formAdd.document.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                        <div ng-message="cpf">
                            <span>CPF inválido.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Nome *</label>
                    <input type="text" name="firstname" ng-model="vm.form.firstname" required>
                    <div ng-messages="formAdd.firstname.$error" ng-show="formAdd.firstname.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Sobrenome *</label>
                    <input type="text" name="lastname" ng-model="vm.form.lastname" required>
                    <div ng-messages="formAdd.lastname.$error" ng-show="formAdd.lastname.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Telefone 1 *</label>
                    <input type="text" name="phone" ng-model="vm.form.phone" ui-br-phone-number required>
                    <div ng-messages="formAdd.phone.$error" ng-show="formAdd.phone.$touched" role="alert">
                        <div ng-message="required">
                            <span>Campo obrigatório.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>Telefone 2</label>
                    <input type="text" name="phone2" ng-model="vm.form.phone2" ui-br-phone-number>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()" aria-label="Cancelar" ng-disabled="vm.needSave">
                Cancelar
            </md-button>
            <md-button class="md-raised md-accent" type="submit" ng-disabled="formAdd.$invalid || vm.progressLoading" aria-label="Adicionar">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
