// li-carousel.sass
@import "../../../variables.scss"

.li-carousel
	position: relative

	.carousel-button
		z-index: 9
		position: absolute
		color: $accent
		border-radius: 5vh
		border: 2px solid $accent
		display: flex
		justify-content: center
		align-items: center
		height: 5vh
		width: 5vh
		cursor: pointer
		top: 25vh
		left: 2vw

		md-icon[md-font-icon], i 
			color: $accent
			width: auto
			height: auto

	.carousel-button.right
		right: 2vw
		left: auto

	.controls
		position: absolute
		width: 100%
		display: flex
		justify-content: center
		align-items: flex-end
		height: 100%

		.tik
			cursor: pointer

			md-icon[md-font-icon], i 
				color: #d3d3d3

			.selected
				color: $accent
	
		.tik:focus
			outline: none

.li-carousel-tabs
	min-height: 30vw !important
	height: 100%
	width: 100%
	
	a
		text-decoration: none

	h2
		margin: 0

	md-tabs-content-wrapper
		top: 0

		.li-carousel-item
			background-position: center
			background-size: cover
			height: 100%
			
	[md-tabs-template]
		height: 100%

body.is-mobile
	.li-carousel-tabs
		height: 100vw

	.li-carousel
		height: auto !important

	.carousel-button
		top: 15vh


body.is-ipad
	#BannerSecundario
		.li-carousel
			margin-top: 0 !important
