<div class="li-carousel" layout="column">
	<div class="carousel-button" ng-click="vm.changeTab(-1)" ng-hide="vm.selected === 0">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</div>
	<md-tabs class="li-carousel-tabs" md-selected="vm.selected" md-no-pagination="true" md-swipe-content="true">
		<md-tab ng-repeat="tab in vm.tabs track by $index">
			<md-tab-body>
				<a ng-href="{{ tab.link }}" title="{{ tab.title }}">
					<div class="li-carousel-item" ng-style="{'background-image': 'url(' + vm.url(tab) + ')'}" layout="row" layout-align="center start">
						<h2 class="md-display-2">{{ tab.title }}</h2>
					</div>
				</a>
			</md-tab-body>
		</md-tab>
	</md-tabs>
	<div class="carousel-button right" ng-click="vm.changeTab(1)" ng-hide="vm.tabs.length - 1 === vm.selected">
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
	</div>
</div>